	<!-- Start Newsletter -->
	<div class="newsletter-section bg-color2 section-spacing">
		<div class="container">
			<div class="themeix-newsletter-wrapper">
				<form action="{{@blog.url}}/subscribe" class="search-form wow bounceInUp" method="post">
					<div class="input-group">
						<input class="form-control" placeholder="Your Email" type="text"> <span class="input-group-btn"><button class="btn btn-primary" type="submit"><span class="input-group-btn">subscribe</span></button></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Newsletter -->


	