    <div class="pagination">
    <nav class="pagination" role="navigation">
        {{#if prev}}
            <a class="themeix-btn1 btn btn-primary" href="{{page_url prev}}">&larr; Prev </a>
        {{/if}}
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#if next}}
            <a class="themeix-btn1 btn btn-primary" href="{{page_url next}}">Next &rarr;</a>
        {{/if}}
    </nav>
    </div>