<div class="single-meta-share d-flex justify-content-between highlight">
   <ul class="single-meta-details list-inline highlight">
      <li class="list-inline-item"><a href="#">Travel</a></li>
      <li class="list-inline-item">15 May , 2018</li>
   </ul>
   <ul class="single-share-details list-inline highlight">
      <li class="list-inline-item">Share</li>
      <li class="list-inline-item"><a href="#">Twitter</a></li>
      <li class="list-inline-item"><a href="#">Facebook</a></li>
      <li class="list-inline-item"><a href="#">Google+</a></li>
   </ul>
</div>