{{!< default }}

 <!-- Start Post -->
  <section class="post-section bg-color1 section-spacing">
     <div class="container">
	     <div class="row">
	     	<div class="col-md-8 m-auto">
			     <div class="error-container text-center">
				     <div class="error-thumb"><img src="/assets/images/404-thumb.png" alt="not found" /></div>
					 <h1>Page Not found</h1>
					 <a class="error-btn" href="{{@blog.url}}">Back To Home <i class="fa fa-angle-double-right"></i></a>
				 </div>
			</div>
	     </div>
     </div>
  </section>
  <!-- End Post -->	 