{{!< default}}

{{> 'gallery_posts'}}
<!-- Start Post -->
<section class="post-section bg-color1 section-spacing">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-7">
				<div class="row post-wrapper">
                   {{> 'blog_posts'}}
				 </div>
				<div class="post-btn-container">
					<a class="themeix-btn1 btn btn-primary load-more" href="#">More Stories</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-5">
              {{> 'sidebar'}}
			</div>
		</div>
	</div>
</section><!-- End Post -->

